.brand{
        margin: 2px 10px 2px 7px;
    width: 300px;
    height: 82px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    color: #F2F2F2;
    
}


.nav-custom{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

body{
    background-color: white;
}



.nav a{
    color: #848484 ! important;
}


.navbar-top-links a{
    color: #BDBDBD ! important;
}


ul.dropdown-menu  a{
    color: #848484 ! important;
}


.nav a:hover{
    background-color: #DF013A ! important;
    color: #F2F2F2 ! important;
}



.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #DF013A ! important;
    border-color: #428bca;
    color: #F2F2F2 ! important;
}



.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.padding5 {
    padding: 5px !important;
}

.margin5 {
    padding: 5px !important;
}



.padding2 {
    padding: 2px !important;
}

.margin2 {
    padding: 2px !important;
}



.cdiFontSize11{
    font-size: 11px;
}


.finDeSemana{
    background-color: #f4e0c7;
}

.rightBorder{
    border-right: 1px #848484 solid;
}

.page-header-min {
    padding-bottom: 3px;
    margin: 5px 0px 2px;
    border-bottom: 1px solid #EEE;

}

.colorClose, .colorClose td{
    background-color: #d59392 ! important;
}

.colorOpen, .colorOpen td{
    background-color: #5cb85c ! important;
}

.table .tauto td , .table .tauto th, .table .tauto{
    width: auto !important;
    vertical-align: middle;
}
.table .tauto input[type='text']{
    width: 95% !important;
}


.customClass{
    font-size: 12px ! important;
    padding: 1px ! important;
    vertical-align: middle ! important;
}

.customClass th{
    font-size: 12px ! important;
    padding: 1px ! important;
    text-align: center ;
     vertical-align: middle ! important;
}
.customClass td{
    font-size: 12px ! important;
    padding: 1px ! important;
    text-align: center;
     vertical-align: middle ! important;
     white-space: nowrap;

}

.divFilter{
    padding: 5px;
}

.center-table{
    text-align: center ! important;
    vertical-align: middle ! important;
}

.center-table td{
    text-align: center ! important;
    vertical-align: middle ! important;
}

.center-table th{
    text-align: center ! important;
    vertical-align: middle ! important;
}


.portlet {
  position: relative;
  padding: 0;
  margin: 0 0 3em;
}

.portlet-default .portlet-title {
  position: relative;
  margin-bottom: 15px; //Era 30px
  font-size: 18px;
      font-weight: 500;
    line-height: 1.1;
    color: inherit;
        font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
    box-sizing: border-box;
color: rgb(51, 51, 51);
}

.portlet-default .portlet-title:before {
     content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    z-index: 9;
    background: #e6e6e6;
}

.portlet-default .portlet-title:after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    width: 80px;
    height: 1px;
    margin: 20px 0 0;
    background: #6685a4;
}


.portlet-header {
  padding: 0;
  margin: 0;
}

.portlet-body {
  padding: 0;
  margin: 0;
}

.portlet .h1,.portlet .h2,.portlet .h3,.portlet .h4,.portlet .h5,.portlet .h6 {
  margin-top: 0;
  margin-bottom: .40em;
  font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
}
